 /*selector {
	property: valu;
	}*/
h2{border: 5px solid;
color: lime;
}


body {
	background-image: url(aloe.jpg);
	background-size: cover;
}

	
p{border: 5px solid;
color: green; 

}

p{

}

li{
list-style: none;
display: inline-block;	
}
.webtext {
	border: 5px dashed green;

}

#div1 {
	color:red;
}
#div1{
	background: rgba(0,o,255,0.2);
}

#div2{



































































































































































































































































































































































































































































































































































































































    
}
p{

	line-height: 20px
	font-style:italic;
	font-weight: bold;font-size: 80%;
	font-family: Geogia
	color:pink;
}

li {
	list-style: none;
	display:inline-block;